/* ========================= */
/* РУЛЕТКА */
/* ========================= */

#rouletteWindow{
    width:1100px;
    max-width:95%;
    height:190px;
    margin:40px auto;
    overflow:hidden;
    position:relative;
    background:#13151c;
    border-radius:18px;
    border:3px solid #2a2f3a;
    box-shadow:0 0 25px rgba(0,0,0,.45);
}

#rouletteWindow::after{
    content:"";
    position:absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);
    width:4px;
    height:100%;
    background:#ffb400;
    box-shadow:0 0 20px #ffb400;
    z-index:100;
}

#rouletteItems{
    display:flex;
    align-items:center;
    height:100%;
    gap:20px;
    padding:0 20px;
}

.roulette-card{
    width:150px;
    min-width:150px;
    height:165px;
    background:#1b1f28;
    border-radius:14px;
    text-align:center;
    padding:10px;
    border:2px solid #2b313d;
    transition:.25s;
}

.roulette-card img{
    width:120px;
    height:80px;
    object-fit:contain;
    pointer-events:none;
}

.roulette-card h3{
    font-size:15px;
    margin-top:10px;
    color:#fff;
}

.roulette-card p{
    margin-top:8px;
    color:#bfc6d4;
}

/* Цвета редкости */

.common{
    border-color:#8a8a8a;
}

.rare{
    border-color:#2f8cff;
    box-shadow:0 0 15px rgba(47,140,255,.35);
}

.epic{
    border-color:#a23cff;
    box-shadow:0 0 15px rgba(162,60,255,.35);
}

.legendary{
    border-color:#ffb400;
    box-shadow:0 0 18px rgba(255,180,0,.5);
}

/* Победитель */

#winner,
#dropItem{
    margin:35px auto;
    text-align:center;
}

.winner-card{
    width:260px;
    margin:auto;
    background:#1b1f28;
    border-radius:18px;
    padding:25px;
    animation:showWinner .45s ease;
}

.winner-card img{
    width:190px;
    height:120px;
    object-fit:contain;
}

.winner-card h2{
    margin-top:15px;
    color:#fff;
}

.winner-card p{
    color:#ffb400;
    font-size:20px;
    font-weight:bold;
}

@keyframes showWinner{
    from{
        transform:scale(.7);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}
