.inventory{

width:1200px;
max-width:95%;
margin:auto;
padding:50px;

}

.inventory h1{

margin-bottom:30px;

}

#search{

width:100%;
padding:15px;
font-size:18px;
border-radius:12px;
border:none;
margin-bottom:30px;

}

#inventoryList{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(220px,1fr));

gap:20px;

}

.itemCard{

background:#161b22;

padding:20px;

border-radius:15px;

transition:.3s;

}

.itemCard:hover{

transform:translateY(-5px);

}

.sell{

margin-top:15px;

width:100%;

padding:10px;

background:#ffb400;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:bold;

}
